{
  "extends": "airbnb",
  "rules": {
    "no-alert": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "arrow-parens": [
      2,
      "always"
    ],
    "no-param-reassign": "off",
    "quotes": [
      "error",
      "single"
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}