body {
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  box-sizing: border-box;
  min-width: 800px;
}

.right-content {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  min-width: 300px;
}

.form-register {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.firstName {
  width: 140px;
}

.lastName {
  width: 140px;
}

.phoneEmail , .myPassword , .birthDate {
  width: 292px;
}

.invalid {
  display: none;
}
