body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
