body {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  align-self: flex-start;
  margin-top: 10px;
  width: 150px;
}

.main-content {
  background-image: linear-gradient(white, rgb(186, 199, 226));
  display: flex;
  height: 800px;
  justify-content: center;
  width: 100%;
}

.form-group {
  display: flex;
}

.left-content {
  color: rgb(66, 103, 178);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-top: 40px;
  text-align: left;
  width: 800px;
}

.right-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  text-align: left;
  width: 300px;
}

.form-control {
  align-self: flex-end;
}
