body , input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.facebook-login {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.facebook-logo {
  margin-left: 150px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.form-group label {
  color: white;
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: center;
  display: flex;
}

.form-control button {
  background-color: rgb(55, 92, 165);
  color: white;
  margin: 16px 10px;
}

.gender {
  display: flex;
}

.left-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.left-content p {
  align-self: baseline;
  color: rgb(44, 86, 170);
  display: flex;
  font-weight: 800;
  margin: 10, 0;
  width: 50%;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 80%;
}

.right-content {
  max-width: 300px;
}

.subform {
  display: flex;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
