.blue-top-bar {
  background-color: rgb(66, 103, 178);
  width: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: center;
}

.facebook-login {
  display: flex;
}

header {
  width: 800px;
}

.form-group {
  display: flex;
  flex-direction: column;
}