body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  text-align: left;
  width: 100px;
}

.facebook-login {
  display: flex;
}

.main-content {
  border: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.main-content .left-content {
  border: 2px solid red;
  width: 800px;
}

.main-content .right-content {
  border: 2px solid red;
  width: 300px;
}

.form {
  display: flex;
  flex-flow: row wrap;
}

.form .name-input {
  margin: 0 auto;
  padding: 5px;
  width: 40%;
}

.form .lastname-input {
  margin: 0 auto;
  padding: 5px;
  width: 40%;
}

.form .phoneemail-input {
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}

.form .password-input {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
}

.form .label-birthdate {
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.form .birthdate-input {
  margin-left: 10px;
}

.form .label-gender {
  margin-top: 10px;
  width: 100%;
}

.form .label-gender {
  margin: 10px;
}

.radio-button-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.form span {
  margin: 10px;
}

.facebook-register {
  margin: 15px 10px;
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
