body {
  background-image: linear-gradient(white, rgba(115, 120, 150, 0.466));
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  width: 180px;
}

.facebook-login {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 120px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-group label {
  color: white;
}

.form-group span {
  color: white;
  opacity: 0.6;
}

.form-control {
  align-self: flex-end;
}

.button-login {
  background-color: rgb(66, 103, 178);
  color: white;
  margin-bottom: 1rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.facebook-slogan {
  color: rgb(7, 52, 143);
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 900;
  width: 400px;
}

.facebook-networking {
  width: 500px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.aga1 {
  color: rgb(75, 75, 75);
  margin: 20px 0 0;
}

.quick-easy {
  color: rgb(75, 75, 75);
  margin: 10px 0;
}

.div-nomes {
  color: grey;
  display: flex;
  justify-content: space-between;
}

.div-outros {
  clear: both;
  display: flex;
  flex-direction: column;
}

.input-pequeno {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 4px;
  height: 25px;
  margin: 0 5px 5px 0;
  width: 140px;
}

.input-grande {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 4px;
  color: grey;
  display: flex;
  height: 25px;
  margin: 5px 0;
  width: 290px;
}

.label-birthdate {
  color: grey;
  font-weight: 900;
  margin: 5px 0;
}

.input-birthdate {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 4px;
  height: 25px;
  margin: 5px 0;
}

.label-gender {
  color: grey;
  font-weight: 900;
  margin: 5px 0;
}

.gender-conteiner {
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.gender {
  margin: 0;
}

.label-gender2 {
  color: black;
  font-size: 15px;
}

.facebook-register {
  background-color: rgb(79, 170, 79);
  border: 0.8px solid rgb(87, 153, 87);
  border-radius: 4px;
  color: white;
  height: 25px;
  margin-top: 5px;
  width: 150px;
}
