body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 70%;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.forms-name {
  display: flex;
}

.gender {
  display: flex;
  flex-flow: row nowrap;
}

.custom {
  display: none;
}
