body , input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.main-content {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.right-content {
  width: 300px;
}

.singup {
  display: flex;
  flex-wrap: wrap;
}

.full-name-wrapper , .birthdate-wrapper , .gender-wrapper {
  margin: 0 auto;
  width: 95%;
}

.full-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.full-name-wrapper input {
  width: 47%;
}

.singup > input {
  margin: 10px auto 0;
  width: 95%;
}

.birthdate-wrapper , .gender-wrapper {
  margin-top: 10px;
}

.birthdate-wrapper input , .radio-wrapper {
  margin-top: 3px;
  width: 100%;
}

.radio-wrapper label {
  font-size: 0.9em;
  margin-right: 9px;
}
