body {
  background-color: #e6e6e6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  height: 85px;
  width: 100%;
}

/* .facebook-logo {
  height: 60px;
  margin-bottom: 40px;
  margin-left: 100px;
  padding-top: 40px;
  width: 150px;
} */

.form-group {
  display: flex;
  flex-direction: column;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  background-color: #f0f2f5;
  height: 500px;
}

.right-content {
  display: inline-block;
  width: 300px;
}

.left-content {
  display: inline-block;
  width: 800px;
}

.firstName {
  display: inline-block;
  max-width: 46%;
}

.lastName {
  display: inline-block;
  max-width: 46%;
}

.borderStyle {
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  border-style: inset;
  border-width: 2px;
  font-size: 90%;
  height: 25px;
  margin-top: 8px;
  padding: 1px 2px;
}

.fullSize {
  width: 100%;
}

.text {
  color: rgb(66, 103, 178);
  font-weight: bold;
  max-width: 350px;
}

.tag {
  color: #606770;
  display: block;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.radio {
  display: inline-block;
  font-size: 14px;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  max-width: 27%;
}

.button-submit {
  background-color: green;
  border: none;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  border-style: inset;
  border-width: 2px;
  color: white;
  font-size: 90%;
  font-weight: 400;
  height: 30px;
  margin-top: 10px;
  padding: 1px 2px;
  width: 200px;
}

.space-arround{
  margin-bottom: 2px;
  margin-top: 2px;
}

.space-top {
  margin-top: 10px;
}
 