.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
  float: right;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.nome-sobrenome {
  display: flex;
}

.birthdate-input {
  display: flex;
  flex-direction: column;
}

.radio-button {
  display: flex;
}
