body {
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 90px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.name {
  display: flex;
}

.create-account {
  display: flex;
  flex-direction: column;
}

.gender {
  display: flex;
}
