.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 17vh;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.facebook-login {
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

#forms-nome {
  display: flex;
}