body {
  margin: 0;
  width: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  align-self: center;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 900;
  padding-bottom: 3px;
}

.form-group-email {
  padding-right: 10px;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 9px;
  padding-left: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.sing-up-form input {
  border: 1px solid #343a40;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding: 10px;
}

.name-content {
  display: flex;
}


.birthdate-content {
  display: flex;
  flex-direction: column;
}
