body {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.facebook-login {
  align-self: center;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.register {
  display: flex;
  flex-direction: column;
}

.first-last-name {
  display: flex;
}

.gender-container {
  display: flex;
}

.mensagem-invalidos {
  color: red;
  display: none;
  font-size: 1em;
  font-style: italic;
  margin-top: 10px;
}

.custom {
  align-self: flex-end;
  display: none;
}

.register-validation {
  display: none;
}

/*.moblie {
  display: none;
} */

/* @media screen and (max-width: 360px) {
  .left-content {
    display: none;
  }
  .facebook-login {
    display: none;
  }

  .top-bar {
    justify-content: center;
  }

  .main-content {
    display: none;
  }

  .moblie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    border-radius: 2px;
  }

  .input-n-p {
    background-color: #ebe7e7;
    padding: 2%;
    width: 70%;
    border-width: 1px;
    border-color: #ffffff;
  }

  .button-moblie {
    background-color: #1877f2;
    width: 270px;
    border-radius: 2px;
    margin: 3%;
    color: white;
    padding: 2%;
    border: none;
  }

  .button-moblie-register {
    background-color: #42b72a;
    color: white;
    width: 150px;
    border-radius: 2px;
    margin: 5%;
    color: white;
    padding: 2%;
    border: none;
  }

  .esqueceu {
    color: #546eb3;
    margin: 8%;
    margin-top: 0;
  }
  .footer {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    color: #546eb3;
  }

  .estilo {
    color: #666969;
  }

  .final {
    display: flex;
    width: 40%;
  }
} */
