body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.facebook-login {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 800px;
}

.login {
  margin-left: 10px;
}

.input-login {
  margin-top: 10px;
  width: 130px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.senha-facebook {
  width: 150px;
}

.senha {
  margin-left: 10px;
}

.input-senha {
  margin-top: 10px;
  width: 130px;
}

a {
  opacity: inherit;
}

.entrar {
  background-color: rgb(66, 103, 178);
  color: white;
  font-weight: 700;
  height: 22px;
  margin-bottom: 12px;
  margin-left: -30px;
  padding: 0 10px;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  background-image: linear-gradient(white, rgb(195, 207, 233), rgb(195, 207, 233));
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-content {
  margin-left: 70px;
  width: 800px;
}

.facebook-slogan {
  color: #3b5998;
  font-size: 35px;
  font-weight: 700;
}

.right-content {
  margin-right: 180px;
  width: 300px;
}

.open-account {
  font-size: 36px;
}

.facebook-networking {
  margin-left: 30px;
  width: 100%;
}

.quick-easy {
  font-size: 24px;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name , .lastname {
  width: 138px;
}

.phone_email , .password {
  width: 300px;
}

.label-birthdate , .birthdate {
  margin-right: 100px;
}
