body {
  margin: auto;
  width: 60%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 15px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
}

.facebook-logo {
  display: flex;
  height: 70px;
  justify-content: flex-start;
}

.facebook-login {
  display: flex;
  margin-top: 5px;
  align-self: end;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.input-password {
  display: flex;
  flex-direction: column;
}

.fonte-padrao {
  color: white;
  font-weight: 600;
  margin-bottom: 3px;
}

.form-control {
  align-self: flex-end;
  margin-left: 10px;
}
