body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  align-content: center;
  display: flex;
}

/* .facebook-login label {
  flex-direction: column;
} */

.form-group {
  display: flex;
  flex-direction: column;
}

/* fiz este */
.form-control {
  align-self: flex-end;
  display: flex;
}

/* fiz este */
.main-content {
  display: flex;
  justify-content: space-between;
}

/* fiz este */
.left-content {
  width: 800px;
}

/* wagnermor */
.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.first-last-name {
  display: flex;
}
