@media screen and (max-width: 360px) {
  .left-content {
    display: none;
  }
  .facebook-login {
    display: none;
  }

  .top-bar {
    justify-content: center;
  }

  .main-content {
    display: none;
  }

  .moblie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    border-radius: 2px;
  }

  .input-n-p {
    background-color: #ebe7e7;
    padding: 2%;
    width: 70%;
    border-width: 1px;
    border-color: #ffffff;
  }

  .button-moblie {
    background-color: #1877f2;
    width: 270px;
    border-radius: 2px;
    margin: 3%;
    color: white;
    padding: 2%;
    border: none;
  }

  .button-moblie-register {
    background-color: #42b72a;
    color: white;
    width: 150px;
    border-radius: 2px;
    margin: 5%;
    color: white;
    padding: 2%;
    border: none;
  }

  .esqueceu {
    color: #546eb3;
    margin: 8%;
    margin-top: 0;
  }
  .footer {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    color: #546eb3;
  }

  .estilo {
    color: #666969;
  }

  .final {
    display: flex;
    width: 40%;
  }
}
