* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: rgb(66, 103, 178);
}

#header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    max-width: 1024px;
}

.facebook-login {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.form {
    flex-direction: column;
    margin: 10px;
    width: 150px;
}
