body , button , div , form , header , html , img , input , label {
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 85px;
  justify-content: space-between;
}

.facebook-logo {
  justify-content: flex-end;
}

.facebook-login {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  margin-right: 10px;
}

.form-group label {
  font-size: 13px;
  font-weight: 400;
}

.form-group input {
  padding: 2.7px;
}

.form-control button {
  background-color: #4367b2;
  border: 1px solid #243d74;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 8px;
}

.right-content form button {
  align-self: flex-start;
  background-color: #69a74e;
  border-color: #3b6e22;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 19px;
  font-weight: 600;
  margin: 10px 0;
  padding: 7px 20px;
}

.form-control button:hover {
  background-color: #3459a7;
}

.main-content {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.right-content p {
  color: #777;
  margin: 10px 0;
}

.right-content form p {
  color: #777;
  font-size: 11px;
  margin: 30px 15px;
}

h1 {
  margin: 10px 0;
}

.date-birth input {
  width: 100%;
}

.right-content form input {
  font-size: 18px;
  padding: 10px;
}

.full-name {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 49%;
}

.last-name {
  width: 49%;
}

.email {
  margin-top: 5px;
  width: 100%;
}

.pass {
  margin-top: 5px;
  width: 100%;
}

.date-birth label {
  margin: 5px 0;
  width: 100%;
}

.label-gender {
  margin: 5px 0;
  width: 100%;
}

.right-content form input:nth-child( 6 ) {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

.date-birth {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.right-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.right-content form p a {
  color: blue;
}

.left-content img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.radio-gender {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

