* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 85px;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.facebook-login {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}

.form-control {
  margin-right: 10px;
  align-self: flex-end;
}

.form-group label {
  font-size: 13px;
  font-weight: 400;
}

.form-group input {
  padding: 2.7px;
}

.facebook-logo {
  width: 170px;
}

#button-login {
  background-color: #4367b2;
  color: white;
  font-size: 14px;
  padding: 2px 8px;
  border: 1px solid #243d74;
  font-weight: 600;
  outline: none;
}

#button-login:hover {
  background-color: #3459a7;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {

  /* border: 1px solid black; */

  /* height: 400px; */
  width: 50%;
  background-color: lightgrey;
}

.right-content {
  width: 300px;
  background-color: lightgrey;
}

.right-content p {
  margin: 10px 0;
  color: #777;
}

.right-content form p {
  margin: 30px 15px;
  color: #777;
  font-size: 11px;
}

.right-content h1 {
  margin: 10px 0;
}

.right-content form input {
  font-size: 18px;
  padding: 10px;
}

.right-content form input:nth-child( 1 ) {
  width: 48%;
}

.right-content form input:nth-child( 2 ) {
  width: 48%;
}

.right-content form input:nth-child( 3 ) {
  width: 98%;
  margin-top: 5px;
}

.right-content form input:nth-child( 4 ) {
  width: 98%;
  margin-top: 5px;
}

.right-content form label:nth-child( 5 ) {
  width: 98%;
  padding: 5px;
  margin-top: 5px;
}

.right-content form input:nth-child( 6 ) {
  width: 98%;
  padding: 10px;
  margin-top: 5px;
}

.right-content form label:nth-child( 7 ) {
  width: 98%;
  padding: 10px;
  margin-top: 5px;
}

.right-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.right-content form button {
  margin: 10px 0;
  font-size: 19px;
  font-weight: 600;
  padding: 7px 20px;
  background-color: #69a74e;
  color: white;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22;
  align-self: flex-start;
}

.right-content form p a {
  color: blue;
}
