* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.top-bar {
  border: 1px solid black;
  height: 130px;
  background-color: rgb(66, 103, 178);
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  border: 1px solid black;

  /* height: 400px; */
  width: 50%;
  background-color: lightgrey;
}

.right-content {
  width: 300px;
  background-color: lightgrey;
}

form input:nth-child( 1 ) {
  width: 50%;
  padding: 10px;
}

form input:nth-child( 2 ) {
  width: 50%;
  padding: 10px;
}

form input:nth-child( 3 ) {
  width: 100%;
  padding: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
}
